/* <weight>: Use a value from 100 to 900 */
/* font-family: "Roboto", sans-serif; */


/* <weight>: Use a value from 200 to 700 */
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dark-bg {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 5rem;
}

.dark-bg {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav {
    position: sticky;
    border: none;
    background-color: #ffffff1a;
    backdrop-filter: blur(16px) saturate(120%) brightness(250%);
    box-shadow: #000000 0px 3px 50px;
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: black 0px 5px 10px;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: black;
    background-color: white;
    background-color: aqua;
}

.my-name-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}