/* <weight>: Use a value from 100 to 900 */
/* font-family: "Roboto", sans-serif; */


/* <weight>: Use a value from 200 to 700 */
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contact_body {
    background-image: url(../src/img/bg/DodgersStadium.png);
    background-size: 2150px;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    gap: 15rem;
    /* background-color:antiquewhite; */
}

.info-container {
    width: 30%;
    height: 40vh;
    padding: 0% 5%;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-self: center;
    border-radius: 20px;
    border: 2px solid white;
    backdrop-filter: blur(16px) saturate(120%) brightness(120%);
    box-shadow: #000000 0px 3px 50px;
    /* background-color: black; */
}

.info-container div:first-child, .form-container div:first-child {
    font-weight: bolder;
    font-size: 2.5rem;
}

.info-container div:last-child a{
    text-decoration: none;
    color: white;
}

.info-container div:last-child a:hover{
    color: aqua;
}

.link-logo {
    position: relative;
    bottom: 0.2rem;
}

.form-container {
    font-size: 1.5rem;
    font-weight: bold;
    height: 60vh;
    width: 25%;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: 2px solid white;
    backdrop-filter: blur(16px) saturate(120%) brightness(120%);
    box-shadow: #000000 0px 3px 50px;
    /* background-color:antiquewhite; */
}

.form-container input, .form-container textarea {
    border-radius: 10px;
    width: 20rem;
}

