/* <weight>: Use a value from 100 to 900 */
/* font-family: "Roboto", sans-serif; */


/* <weight>: Use a value from 200 to 700 */
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dev_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../src/img/bg/PacificCoastHighway.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin-top: 7%;
}

.dev_nav {
    position: fixed;
    height: 100px;
    width: 100%;
    padding: 0px 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff1a;
    backdrop-filter: blur(16px) saturate(120%);
    box-shadow: #000000 0px 3px 50px;
    z-index: 10;
}

.dev_name_logo {
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-shadow: #000000 0px 10px 7px;
}

.dev_nav_a {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-shadow: #000000 0px 10px 7px;
    transition: 0.5s;
}

.dev_nav_a:hover {
    color: aqua;
    scale: 1.1;
}

.dev_skills, .dev_projects {
    /* margin-top: 7%; */
    font-style: italic;
    padding: 20px;
    font-family: 'Oswald';
    color: white;
    /* background-color: blue; */
}

.dev_cards_h2, .dev_cards_h2 {
    font-size: 50px;
    text-decoration: underline;
}

.dev_first_container, .dev_second_container,
.dev_projects_first_container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3%;
    /* background-color: antiquewhite; */
}

.dev_card, .dev_project_card {
    border-radius: 20px;
    background: #ffffff1a;
    backdrop-filter: blur(16px) saturate(120%);
    box-shadow: #000000 0px 3px 50px;
    border: 2px solid white;
    transition: 0.5s;
    /* background-color: antiquewhite; */
}

.dev_card_title, .dev_project_title {
    font-size: 35px;
    font-weight: 800;
}

.dev_card:hover {
    color: aqua;
    scale: 1.1;
    border: 3px solid rgb(0, 255, 255);
}

.dev_card img:hover {
    filter: invert(55%) sepia(85%) saturate(1000%) hue-rotate(140deg) brightness(100%) contrast(105%)
    drop-shadow(0px 2px 15px)
}

.dev_project_card1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 500px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    background-image: url(../src/img/developer/projects/Hangman.PNG);
    background-size: 1000px;
    background-position: -250px -80px;
    border: 2px solid white;
    transition: 0.5s;
}

.dev_project_card1:hover {
    scale: 1.1;
}

.dev_icons {
    opacity: 0;
    transition: 0.5s;
}

.dev_project_card1:hover .dev_icons {
    opacity: 1;
    /* filter: invert(55%) sepia(85%) saturate(1000%) hue-rotate(140deg) brightness(100%) contrast(105%) */
}

.dev_icons:hover {
    filter: invert(55%) sepia(85%) saturate(1000%) hue-rotate(140deg) brightness(100%) contrast(105%)
}



