/* <weight>: Use a value from 100 to 900 */
/* font-family: "Roboto", sans-serif; */


/* <weight>: Use a value from 200 to 700 */
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.vfx_body {
    background-image: url(../src/img/bg/GriffithObservatory_BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    color: white;
    padding: 0rem 5rem;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* background-color: bisque; */
}

.title {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.compositing-container {
    overflow-y: auto;
    backdrop-filter: blur(16px) saturate(120%);
    box-shadow: #000000 0px 3px 50px;
    border-radius: 20px;
    border: 2px solid white;
    /* background-color: brown; */
}

.title, p, .video-group {
    padding: 1rem 2rem;
}

.video-group {
    /* height: 70%; */
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* background-color: blueviolet; */
}

.responsive-video {
    width: 100%;
    border-radius: 5%;
    border: 2px solid white;
}

.modeling-container {
    /* background-color: blueviolet; */
}

.modeling-grp {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    font-size: 10rem;
    text-align: center;
    font-family: "Oswald", sans-serif;
    /* background-color: wheat; */
}