/* <weight>: Use a value from 100 to 900 */
/* font-family: "Roboto", sans-serif; */


/* <weight>: Use a value from 200 to 700 */
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.about_body {
    background-image: url(../src/img/bg/SantaMonica_BG.png);
    background-size: 2150px;
    background-repeat: no-repeat;
}

main {
    align-self: center;
    /* background-color: aqua; */
}

.about_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: antiquewhite; */
}

.about_summary {
    color: white;
    height: 40vh;
    width: 40%;
    padding: 60px 40px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid white;
    backdrop-filter: blur(16px) saturate(120%)brightness(120%);
    box-shadow: #000000 0px 3px 50px;
    /* background-color: aqua; */
}

.about_pic {
    height: 60vh;
    width: 30%;
    border: 2px solid white;
    background-image: url(../src/img/about/family_pic.JPEG);
    background-size: cover;
    border-radius: 20px;
}

