/* <weight>: Use a value from 100 to 900 */
/* font-family: "Roboto", sans-serif; */


/* <weight>: Use a value from 200 to 700 */
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.resume-wrapper {
    padding: 2rem;
    width: 100%;
    background: #ffffff1a;
    backdrop-filter: blur(16px) saturate(120%);
    box-shadow: #000000 0px 3px 50px;
    /* border-radius: 20px; */
    /* border: 2px solid white; */
    /* background-color: purple; */
}

.my-hr {
    width: 100%;
    height: 5px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resume_body {
    background-image: url(../src/img/bg/StapleCenter_BG.png);
    background-size: 3200px;
    background-repeat: no-repeat;
    background-position-y: -350px;
    background-position-x: 0px;
}

main {
    overflow-y: auto;
    width: 60%;
    border-radius: 20px;
    border: 2px solid white;
    margin-left: 8rem;
    /* background-color: bisque; */
}

.my-info {
    color: white;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    /* background-color:aquamarine; */
}

.my-name {
    font-size: 5rem;
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
}

.my-title {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
}

.my-info div:last-child {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

.resume-btn {
    padding: 3px 10px;
    border-radius: 10px;
    position: relative;
    bottom: 3px;
    color: #000000;
    background-color: white;
}

a:hover {
    color: aqua;
}

.resume-btn:hover {
    background-color: aqua;
    color: #000000;
}

.icon {
    position: relative;
    bottom: 3px;
    margin-left: 5px;
}

.section-container {
    color: white;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-style: italic;
}

.section-content {
    font-weight: 400;
}

.in-bold {
    font-weight:bolder;
    font-size: 1.1rem;
}

.dates {
    font-style: italic;
    font-weight: 500;
}