/* <weight>: Use a value from 100 to 900 */
/* font-family: "Roboto", sans-serif; */


/* <weight>: Use a value from 200 to 700 */
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.editing_body {
    background-image: url(../src/img/bg/WalkOfFame_BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    color: white;
    padding: 0rem 5rem;
    overflow-y: auto;
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: bisque; */
}

.still-container {
    overflow-y: scroll;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.still-cards-container {
    padding: 2rem;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    /* background-color: antiquewhite; */
}

.still-item-1x1 {
    width: 230px;
    height: 230px;
    border: 2px solid white;
    border-radius: 20px;
    background-size: cover;
    /* background-color: blueviolet; */
}

.still-item-9x16 {
    width: 230px;
    height: 400px;
    border: 2px solid white;
    border-radius: 20px;
    background-size: cover;
}

.still-item-1x1:hover, .still-item-9x16:hover {
    border-color: aqua;
}

.still-item-1 {
    background-image: url(../src/img/editing/1x1/Jarritos_Lime_v1.png);
}

.still-item-2 {
    background-image: url(../src/img/editing/1x1/Img2.png);
}

.still-item-3 {
    background-image: url(../src/img/editing/1x1/Img3.png);
}

.still-item-4 {
    background-image: url(../src/img/editing/1x1/Img4.png);
}

.still-item-5 {
    background-image: url(../src/img/editing/1x1/Img5.png);
}

.still-item-6 {
    background-image: url(../src/img/editing/1x1/Img1.png);
}

.still-item-7 {
    background-image: url(../src/img/editing/9x16/Fanta_9x16.png);
}

.still-item-8 {
    background-image: url(../src/img/editing/9x16/Img1.png);
}

.still-item-9 {
    background-image: url(../src/img/editing/9x16/Img2.png);
}

.still-item-10 {
    background-image: url(../src/img/editing/9x16/Img3.png);
}

.still-item-11 {
    background-image: url(../src/img/editing/9x16/Img4.png);
}

.still-item-12 {
    background-image: url(../src/img/editing/9x16/Img5.png);
}

/* -------------------------------------------------------------- */

.gif-container {
    overflow-y: scroll;
}

.gif-cards-container {
    padding: 2rem;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    /* background-color: antiquewhite; */
}

.gif-item-1x1 {
    width: 230px;
    height: 230px;
    border: 2px solid white;
    border-radius: 20px;
    
    /* background-color: blueviolet; */
}

.gif-item-9x16 {
    width: 230px;
    height: 408px;
    border: 2px solid white;
    border-radius: 20px;
    background-size: cover;
}

.gif-item-1x1:hover, .gif-item-9x16:hover {
    border-color: aqua;
}

/* --------------------------------------------------------- */

.video-container {
    overflow-y: scroll;
}

.video-cards-container {
    padding: 2rem;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.video-item-1x1 {
    width: 230px;
    height: 230px;
    border: 2px solid white;
    border-radius: 20px;
}

.video-item-9x16 {
    width: 230px;
    height: 408px;
    border: 2px solid white;
    border-radius: 20px;
    background-size: cover;
}

.video-item-16x9 {
    width: 230px;
    height: 130px;
    column-span: 2;
    border: 2px solid white;
    border-radius: 20px;
}

.video-item-1x1:hover, .video-item-9x16:hover, .video-item-16x9:hover {
    border-color: aqua;
}